{{!-- <div class="large-view">
    <span class="h3">List of Contents</span>
    <nav>
        {{log @contents}}
        <Lists />
    </nav> 
</div>--}}

<div>
    <span class="h3">List of Contents</span>
    <a href="" class="mobile-view float-right pt-1" {{action this.toggle}}>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a>
    <nav class={{if this.toshowlist "showlist" "showlistno"}}>
       <Lists />
    </nav> 
</div>    
