<div class="h1">Learn to gain...</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam numquam temporibus vel, tempora esse libero, in ratione beatae quo cupiditate dicta mollitia necessitatibus saepe itaque est minima doloribus! Voluptatem, obcaecati!</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    {{#each this.model.items as |item|}}
        <div class="col">
            <IndexCard @title={{item.title}} @routename={{item.page_name}} @content={{item.content}} />
        </div>
    {{/each}}
</div>


